body {
  font-family: 'Spectral';
  font-size: 19px;
  text-align: center;
}


.results {
  /* DO NOT TYPE DISPLAY:NONE HERE */
  float: left;
  width: 30%;
  text-align: center;
}

.results img {
  height: 300px;
  width: 450px;
}

#fire img {
  width: 300px;
}

#fire {
  display: none;
}

#hatchling img {
  width: 350px;
}

#hatchling {
  display: none;
}

#oops {
  display: none;
}

#oops img {
  width: 300px;
}
