body {
  font-family: 'Spectral';
  font-size: 19px;
}


.results {
  /* DO NOT TYPE DISPLAY:NONE HERE */
  float: left;
  width: 30%;
  text-align: center;
}

.results img {
  height: 300px;
  width: 450px;
}

#fire img {
  width: 300px;
}

#fire {
  display: none;
}
