body {
  font-family: 'Spectral';
  font-size: 19px;
  text-align: center;
}


.results {
  /* DO NOT TYPE DISPLAY:NONE HERE */
  /* float: left;
  width: 30%; */
  text-align: center;
}

.results img {
  height: 300px;
  width: 450px;

}

.results h3{
  width: 500px;
  margin-top: 50px;
}

#fire img {
  width: 300px;
}

#fire {
  display: none;
}


#hatchling img {
  width: 350px;
}

#hatchling {
  display: none;
}

#adult {
  display: none;
}


#forest {
  display: none;
}

#cave {
  display: none;
}

#western {
  display: none;
}

#eastern {
  display: none;
}

#red {
  display: none;
}

#red img {
  height: 150px;
  width: 200px;
}

#blue {
  display: none;
}

#blue img {
  height: 150px;
  width: 200px;
}

#trans {
  display: none;
}

#oops {
  display: none;
}

#oops img {
  width: 300px;
}


.stubborn input{
  margin-right: 15px;
}
